<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.page.css">
    <link rel="stylesheet" href="../fontawesome-free-6.2.0-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <title>đăng nhập</title>
</head>
<body>
    <div class="containter">
        <div class="item_firt">
            <div class="img_login">
                <img src="https://choxe.vn/assets/img/logo_white.png" alt="icon"  class="icon_firt">
                <img src="https://cdn.stocksnap.io/img-thumbs/960w/luxury-car_KADJ2NKMYQ.jpg" alt="logo_wite">
            </div>
            <div class="inputform">
                <div class="hadel_nested">
                    <div id="icon">
                        <span>welcome to </span> 
                        <img src="https://choxe.vn/assets/img/logo_white.png" alt="icon" >
        
                    </div>
                    
                    <div class="nested_fomr">
                        <label for="email">Email</label>
                        <br/>
                        <form action="">
                            <input type="email" name="email" id="email" placeholder="hãy nhập email tại đây" required>
                            <div id="hadelemail"></div>
                            <label for="password">password</label>
                            <input type="text" name="password" id="password" placeholder="hãy nhập password tại đây" required>
                            <div id="hadelpasswordl"></div>
                            <input type="submit" value="đăng nhập" id="btn_login">
                        </form>
                        <div class="suggest">
                            bạn chưa có tài khoản! <a href="http://127.0.0.1:5500/html/register.page.html">đăng ký tại đây</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script type="module" src="../javascript/login.page.js"></script>
</body>
</html>