<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.page.css">
    <link rel="stylesheet" href="../css/user.pgae.css">
    <link rel="stylesheet" href="../fontawesome-free-6.2.0-web/css/all.min.css">
    <title>homepage</title>
</head>
<body>
    <div class="container">
        <div id="header">
             <div class="item">
                
                <div class="list">
                    <ul>
                        <li><a href="http://127.0.0.1:5500/html/home.page.html" class="img_icon">
                            <img src="https://choxe.vn/assets/img/logo_white.png" alt="icon" >
                        </a></li>
                       <li><a href="#">
                            <i class="fa-solid fa-pen-to-square"></i><span>Card Audit</span>
                        </a></li>
                        <li><a href="#">
                            <i class="fa-regular fa-address-card"></i><span>thủ tục mua hàng</span>
                        </a></li>
                        <li><a href="#">
                            <i class="fa-regular fa-newspaper"></i><span>tin tức </span>
                        </a></li>
                    </ul>
                </div>
                <div class="inputser">
                    <form action="post" id="form">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" name="keysearch" id="keysearch" placeholder="tìm kiếm trong chợ xe">
                    </form>
                </div>
                <div id="login">
                    <img src="https://choxe.vn/assets/img/avatar_shape_white_20_20.png" alt="user">
                    <span>
                        Đăng nhập
                    </span>
                </div>
                <div id="cart">
                    <i class="fa-solid fa-cart-plus"></i><span>giỏ hàng</span>
                </div>
             </div>
        </div>
       <div class="content2">
           <div class="nested_config">
               <div class="list_link">
                  <a href="http://127.0.0.1:5500/html/home.page.html">trang chủ</a> > 
                  <a href="http://127.0.0.1:5500/html/user.page.html">chỉnh sửa thông tin</a>
               </div>
               <div class="grid_container">
                   <div class="grid_navigate">
                    <h2>giới thiệu</h2>
                    <div id="user_main">
                       
                    </div>
                    <div class="item_informaion active">
                        <a href="http://127.0.0.1:5500/html/user.page.html">
                            <i class="fa-solid fa-user"></i>
                            <span>thông tin cá nhân</span>
                        </a>
                    </div>
                    <div class="item_informaion active">
                        <a href="http://127.0.0.1:5500/html/user.page.html">
                            <i class="fa-solid fa-user-plus"></i>
                            <span>thông tin liên hệ</span>
                        </a>
                    </div>
                    <div class="item_informaion active">
                        <a href="http://127.0.0.1:5500/html/user.page.html">
                            <i class="fa-solid fa-bars"></i>
                            <span>quản lý bài đăng</span>
                        </a>
                    </div>
                    <div class="item_informaion active">
                        <a href="http://127.0.0.1:5500/html/user.page.html">
                            <i class="fa-solid fa-heart"></i>
                            <span>tin đã lưu </span>
                        </a>
                    </div>
                    <div class="item_informaion active">
                        <a href="http://127.0.0.1:5500/html/user.page.html">
                            <i class="fa-sharp fa-solid fa-warehouse"></i>
                            <span>đăng ký salon</span>
                        </a>
                    </div>
                    <div class="item_informaion active">
                        <a href="http://127.0.0.1:5500/html/password.page.html">
                            <i class="fa-solid fa-lock"></i>
                            <span>Đổi mật khẩu</span>
                        </a>
                    </div>
                    <div id="logout">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span>Đăng xuất</span>
                    </div>
                   </div>
                   <div class="grid_content">
                     <div id="input_change">
                        <h2>đổi mật khẩu </h2>
                         <form action="" id="form_change">
                            <div class="input_information2">
                                <i class="fa-solid fa-eye"></i>
                                <input type="password" name="password" id="password" placeholder="nhập mật khẩu cũ">
                            </div>
                            <div class="input_information2">
                                <i class="fa-solid fa-eye"></i>
                                <input type="password" name="phone" id="repassword" min="6" placeholder="nhập mật khẩu mới">
                            </div>
                            <div class="input_information2">
                                <i class="fa-solid fa-eye"></i>
                                <input type="password" name="email"  min="6" id="repassword2"placeholder="nhập mật khẩu mới">
                            </div>
                            <button id="uppdate"> cập nhật</button>
                        </form>
                     </div>
                   </div>
               </div>
           </div>
       </div>
        <div id="footer">
            <img src="https://choxe.vn/assets/img/logo_white.png" class="information_img" alt="icon" >
            <div class="information">
                <div class="contact">
                     <p>©2022 by ChoXe.net. All rights reserved. Công Ty Cổ Phần Ô Tô Xuyên Việt; Mã số thuế: 0304013473</p>
                     <p>Lầu 1, B5-B6 Khu Kim Sơn - Đường Nguyễn Hữu Thọ, phường Tân Phong, Quận 7, TPHCM</p>
                     <p>©2022 by ChoXe.net. All rights reserved. Công Ty Cổ Phần Ô Tô Xuyên Việt; Mã số thuế: 0304013473</p>
                     <a href="#" class="contact_item" >
                        <i class="fa-solid fa-envelope"></i> <span>cskh@choxe.vn</span> 
                    </a>
                    <a   href="#" class="contact_item">
                        <i class="fa-solid fa-phone"></i>
                        <span>cskh@choxe.vn</span> 
                    </a>
                    <img src="https://choxe.vn/assets/img/logo-bct.png" alt="">
                </div>
                <div class="introductio">
                    <a href="#">giới thiệu</a>
                    <a href="#">QUY CHẾ HOẠT ĐỘNG</a>
                    <a href="#">BÁO GIÁ</a>
                </div>  
                <div class="phoneandconact">
                    <div class="phone">
                        <i class="fa-solid fa-phone"></i>
                        <span> Hotline: 091.144.2883</span> 
                    </div>
                    <div class="salon">
                        <i class="fa-solid fa-house-user"></i><span>Dành cho Salon, Môi giới</span>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <script type="module" src="../javascript/repassword.page.js" ></script>
    
    
</body>
</html>

